[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
pillow = "*"
psycopg2 = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
flask-testing = "*"
selenium = "*"

[requires]
python_version = "3.8"
